.sahas {
  height: 50rem;
  width: 50rem;

  background-color: blue;
  font-size: 10px;
  font-family: fantasy;
  border: 3px dotted red;
  border-radius: 30rem;
}

.sahas1 {
  height: 30rem;
  width: 30rem;

  background-color: green;
  font-size: 12px;
  font-family: fantasy;
  border: 3px dotted red;
  border-radius: 30rem;
}
